@import 'bourbon';
@import 'base/base';
@import 'neat';

@import 'flashes';

.button {
  @extend button;
}
.group {
  display: inline-block;
  margin: 1em;
  vertical-align: top;
}

.wrapper {
  @include outer-container;
}

.all-players {
  margin-top: 2rem;

  display: flex;
  flex-wrap: wrap;
  h2 {
    flex-basis: 100%;
  }
  .full {
    flex-basis: 100%;
  }
  .column {
    flex-basis: 25%;
    h3 {
      margin-bottom: 0;
    }
    ul {
      margin-bottom: 1rem;
    }
  }
}
